/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

header {
  border: 5px solid white;
  background-image: url("../images/banners/alex-harvey-nqSUnXINsp4-unsplash.jpg");
  background-size: cover; 
  height: 300px; 
  background-position: center center;
}
h1 {
  font-size: 36px;
  font-family: 'Comfortaa', sans-serif;
  color: beige;
}
h2,
h3 {
  font-size: 36px;
  font-family: 'Comfortaa', sans-serif;
  color: chocolate;

}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color:blanchedalmond;
  padding: 12px;
}

.moab-img {
  width: 800px; 
}

.three-col { 
  display: flex;
  flex: 1;
}

.three-col article{
flex: 1;
padding: 10px;
}

.three-col .description {
  flex-grow: 2;
}

.submit {
  margin-top: 10px;
  margin-left: 20px;
}

.textarea {
  margin-left: 20px;
}

.fieldset {
  margin-left: 20px;
  margin-right: 100px;
}

.question {
  margin-left: 20px;
}

.button {
  border: none;
  color: teal;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
}

.button:hover {
  background-color: teal;
  color: white;
}